.bose-pagination3 {
  text-align: center;
  .bose-pagination__page3 {
    padding: 8px 12px;
    margin: 0 8px;
    border: 1px solid #333;
    cursor: pointer;
    background-color: #eee;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover, &.bose-pagination__page--active3 {
      background-color: #333;
      color: white;
    }

    &.bose-pagination__page--disabled3 {

    }
  }

  .bose-pagination__nav3 {
    text-transform: uppercase;

    &.bose-pagination__nav--disabled3 {
      color: #bbb;
    }
    &.bose-pagination__nav--next3 {
      margin-left: 12px;

      &::after {
        content: ' >';
      }
    }
    &.bose-pagination__nav--previous3 {
      margin-right: 12px;

      &::before {
        content: '< ';
      }
    }
  }
}

button {
  -webkit-appearance: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}