.bose-pagination {
    text-align: center;
}
.bose-pagination .bose-pagination__page {
    display: none;
    padding: 8px 12px;
    margin: 0 8px;
    border: 1px solid #333;
    cursor: pointer;
    background-color: #eee;
}
.bose-pagination .bose-pagination__page:first-child {
    margin-left: 0;
}
.bose-pagination .bose-pagination__page:last-child {
    margin-right: 0;
}
.bose-pagination .bose-pagination__page:hover, .bose-pagination .bose-pagination__page.bose-pagination__page--active {
    display: initial;
    background-color: #333;
    color: white;
}
.bose-pagination .bose-pagination__nav {
    text-transform: uppercase;
}
.bose-pagination .bose-pagination__nav.bose-pagination__nav--disabled {
    color: #bbb;
}
.bose-pagination .bose-pagination__nav.bose-pagination__nav--next {
    margin-left: 12px;
}
.bose-pagination .bose-pagination__nav.bose-pagination__nav--next::after {
    content: ' >';
}
.bose-pagination .bose-pagination__nav.bose-pagination__nav--previous {
    margin-right: 12px;
}
.bose-pagination .bose-pagination__nav.bose-pagination__nav--previous::before {
    content: '< ';
}

button {
    -webkit-appearance: none;
    border: none;
    background-color: inherit;
    cursor: pointer;
}
button:focus {
    outline: none;
}
