body {
    background: #FFFAD5;
    color: black;
}

.wrapper {
    height: 100%;
    display: table;
    width: 100%;
    text-align: center;
}

.header {
    display: table-row;
    height: 1px;
    background-color: white;
}

.main {
    height: 100%;
    display: table;
    width: 100%;
}

.box {
    display: table-cell;
    position: inherit;
}

.sidebar {
    width: 15%;
    background-color: #19458D;
}

.footer {
    display: table-row;
    height:1px;
    background-color: #19458D;
    color: #FFFAD5;
}

/* Basic Style*/
* { margin:0; padding:0;}
html, body { height: 100%; }
/*button { padding: 5px 10px;position:fixed;bottom: 50px;right:0px;left:0px;margin:auto; width: 200px; display: block; -webkit-appearance: none;background: #BD4932; outline: none;  border: 2px solid #DB9E36; color: #FFD34E; border-radius: 10px; box-shadow: 0 2px 3px rgba(0,0,0,0.5);cursor: pointer;}*/
/*button:active {border-color: #FFFAD5; color:#FFFAD5;}*/