body{
    /* max-width: 1500px; */
    margin-left: auto;
    margin-right: auto;
}
@media (max-width: 575px) {
    /* TODO: cabecera 320 - 575*/
    #espacio{
        text-align: center;
    }

    #vertical{
        display: none;
    }
    #horizontal{
        display: block;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .color_texto_base{
        color: #19458D;
        font-family: "Segoe UI", Arial, sans-serif;
        font-weight: bold;
        font-size: 20px;
        padding: 15px 5px 0px 30px;
    }
    /*#cabecera img{*/
        /*width: 25%;*/
        /*text-align: center;*/
    /*}*/
    #pointer{
        padding: 10px;
    }
    #pointer h3{
        color: white;
        font-family: "Arial", sans-serif;
        font-weight: 500;
        font-size: 21px;
        text-align: center;
    }
    .search_input{
        background-color: white;
        border-radius: 5px;
        border: none;
        height: 25px;
        width: 70%;
        margin-top: 5px;
        padding: 0 10px;
    }
    .button-search{
        width: 35px;
        height: 35px;
        border: none;
        background-color: #8ba9b3;
        border-radius: 100%;
        position: absolute;
    }
    .button-search i{
        margin-top: 3px;
        margin-left: -3px;
        font-size: 28px;
    }
    /* TODO: fileusuario 320 - 575*/
    #file_usuario{
        color: white;
        font-size: 15px;
        font-weight: 500;
        font-family: "Segoe UI",Arial;
        text-align: center;
    }
    #file_usuario tbody{
        width: 100%;
    }
    #file_usuario table{
        width: 100%;
    }
    #file_usuario td{
        padding: 5px 20px;
    }
    #file_usuario td button{
        border: none;
        background-color: white;
        color: black;
        font-size: 12px;
        font-weight: bold;
        border-radius: 5px;
        padding: 5px 20px;
    }
    .ocultar_usuario_xs{
        display: none;
    }

    /* TODO: submenu 320 - 575*/
    nav{
        height: 100%;
    }
    nav button{
        border: none;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        padding: 0;
        padding-left: 8px;
        width: 100%;
    }
    nav h3{
        color: white;
        font-size: 14px;
        text-align: center;

    }
    nav .col-md-2{
        width: 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    nav img{
        height: 50px;
    }

    nav{
        display: none;
    }

    #mobile-menu{
        padding: 10px;
        text-align: center;
        color: white;
        display: block;
    }
    #menu-switch{
        display: none;
    }

    #menu-switch:checked + nav{
        display: block;
    }
    .nav-link{
        padding: 0;
    }

    .submenu_mayor{
        display: block;
        height: auto;
    }

    .submenu_menor{
        display:block;
        height: auto;
    }
    /*TODO: flexslider 320 - 575*/
    .flexslider{
        margin-left: auto;
        margin-right: auto;
        height: 270px;
    }
    .slides{
        height: 270px;
    }
    .item{
        margin-top: 5px;
        width: 350px;
    }
    .contenedor_img{
        width: 350px;
        height: 260px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    /*TODO: comunicados 320 - 575*/


}

@media (min-width: 576px) and (max-width: 767px) {
    /* TODO: cabecera 576 - 767*/
    .center_vertical{
        position: relative;
        top: 30%;
    }
    #cabecera .col-sm-11{
        width: 80%;
        flex: 0 0 80%;
        max-width: 80%;
        padding: 5px;
    }
    #cabecera .col-sm-1{
        width: 40%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    #espacio{
        text-align: center;
        padding: 0;
    }
    #horizontal{
        display: none;
    }
    #espacio img{
        height: 90px;
        text-align: center;
    }
    #pointer h3{
        color: white;
        font-size: 20px;
    }
    #pointer {
        height: 100px;
        position: relative;
        background: #19458D;
        text-align: center;
    }
    #pointer:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 50px solid white;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
    }
    #pointer:before {
        content: "";
        position: absolute;
        right: -50px;
        bottom: 0;
        width: 0;
        height: 0;
        border: none;
    }
    #search_space{
        text-align: center;
    }
    .search_input{
        background-color: white;
        border-radius: 5px;
        border: none;
        height: 25px;
        width: 70%;
        margin-top: 5px;
        padding: 0 10px;
    }
    .button-search{
        width: 35px;
        height: 35px;
        border: none;
        background-color: #8ba9b3;
        border-radius: 100%;
        position: absolute;
    }
    .button-search i{
        margin-top: 3px;
        margin-left: -3px;
        font-size: 28px;
    }
    /* TODO: file usuario 576 - 767*/
    #file_usuario{
        color: white;
        font-size: 15px;
        font-weight: 500;
        font-family: "Segoe UI",Arial;
    }
    #file_usuario tbody{
        width: 100%;
    }
    #file_usuario table{
        width: 100%;
    }
    #file_usuario td{
        padding: 5px 20px;
    }
    #file_usuario td button{
        border: none;
        background-color: white;
        color: black;
        font-size: 12px;
        font-weight: bold;
        border-radius: 5px;
        padding: 5px 20px;
    }
    .ocultar_usuario_sm{
        display: none;
    }
    /* TODO: submenu 576 - 767*/
    nav button{
        border: none;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        padding: 0;
        width: 100%;
        padding-left: 8px;
    }
    nav h3{
        color: white;
        font-size: 14px;
        text-align: center;

    }
    nav img{
        height: 50px;
    }
    nav{
        display: none;

    }

    #mobile-menu{
        padding: 10px;
        text-align: center;
        color: white;
        display: block;
    }
    #menu-switch{
        display: none;
    }

    #menu-switch:checked + nav{
        display: block;
    }
    .nav-link{
        padding: 0;
    }
    .submenu_mayor{
        display: block;
        height: auto;
    }

    .submenu_menor{
        display:block;
        height: auto;
    }
    nav{
        height: auto;
    }
    /* TODO: flexslider 576 - 766*/
    .flexslider{
        margin-left: auto;
        margin-right: auto;
        height: 270px;
    }
    .slides{
        height: 270px;
    }
    .item{
        margin-top: 5px;
        width: 350px;
    }
    .contenedor_img{
        width: 350px;
        height: 260px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    /* TODO: comunicado 576 - 766*/

    .color_texto_base{
        color: #19458D;
        font-family: "Segoe UI", Arial, sans-serif;
        font-weight: bold;
        font-size: 30px;
        padding: 15px 5px 0px 30px;
        text-align: center;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    /* TODO: cabecera 768 - 991*/
    .center_vertical{
        position: relative;
        top: 40%;
    }
    #cabecera .col-sm-11{
        width: 85%;
        flex: 0 0 85%;
        max-width: 85%;
        padding: 5px;
    }
    #cabecera .col-sm-1{
        width: 15%;
        flex: 0 0 15%;
        max-width: 15%;

    }
    #espacio{
        text-align: center;
        padding: 0;
    }
    #espacio img{
        height: 90px;
        text-align: center;
    }
    #horizontal{
        display: none;
    }
    #pointer h3{
        color: white;
        font-size: 18px;
        text-align: center;
    }
    #pointer {
        height: 100px;
        position: relative;
        background: #19458D;
    }
    #pointer:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 50px solid white;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
    }
    #pointer:before {
        content: "";
        position: absolute;
        right: -50px;
        bottom: 0;
        width: 0;
        height: 0;
        border: none;
    }
    .search_input{
        background-color: white;
        border-radius: 5px;
        border: none;
        height: 25px;
        width: 70%;
        margin-top: 5px;
        padding: 0 10px;
    }
    .button-search{
        width: 35px;
        height: 35px;
        border: none;
        background-color: #8ba9b3;
        border-radius: 100%;
        position: absolute;
    }
    .button-search i{
        margin-top: 3px;
        margin-left: -3px;
        font-size: 28px;
    }
    /* TODO: fileusuario 768 - 991*/
    #file_usuario{
        color: white;
        font-size: 15px;
        font-weight: 500;
        font-family: "Segoe UI",Arial;
    }
    #file_usuario tbody{
        width: 100%;
    }
    #file_usuario table{
        width: 100%;
    }
    #file_usuario td{
        padding: 5px 20px;
    }
    /* #file_usuario td button{
        border: none;
        background-color: white;
        color: black;
        font-size: 12px;
        font-weight: bold;
        border-radius: 5px;
        padding: 5px 20px;
    } */
    .ocultar_usuario_sm{
        display: none;
    }
    /* TODO: submenu 768 - 991*/

    nav button{
        border: none;
        text-align: center;
        margin-left: auto;
        cursor: pointer;
        margin-right: auto;
        padding: 0;
        width: 100%;
        padding-left: 8px;
    }
    nav h3{
        color: white;
        font-size: 10px;
        text-align: center;

    }
    nav img{
        height: 75px;
    }
    #mobile-menu{
        display: none;
    }
    #menu-switch{
        display: none;
    }

    .submenu_mayor{
        overflow-y:auto;
        height:100%;
    }
    /* width */
    .submenu_mayor::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    .submenu_mayor::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    .submenu_mayor::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    .submenu_mayor::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .submenu_menor{
        display:grid;
        height:100%;
    }
    nav{
        height: auto;
    }
    /* TODO: acoplar contenido y nav 768 - 991*/
    #contenedor .col-md-2{
        padding: 0;
        flex: 0 0 15.666667%;
        max-width: 15.666667%;
    }
    #contenedor .col-md-10{
        flex: 0 0 84.333333%;
        max-width: 84.333333%;
    }
    .nav-link{
        padding: 0;
    }
    /* TODO: flexslider 768 - 991*/
    .flexslider{
        margin-left: auto;
        margin-right: auto;
        height: 270px;
    }
    .slides{
        height: 270px;
    }
    .item{
        margin-top: 5px;
        width: 350px;
    }
    .contenedor_img{
        width: 350px;
        height: 260px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    /* TODO: comunicado 768 - 991*/

    .color_texto_base{
        color: #19458D;
        font-family: "Segoe UI", Arial, sans-serif;
        font-weight: bold;
        font-size: 25px;
        padding: 15px 5px 0px 30px;
    }
}

@media (min-width: 992px) and (max-width: 1024px) and (orientation: landscape) {
    /* TODO: cabecera 992 - 1024 landscape*/
    .center_vertical{
        position: relative;
        top: 40%;
    }
    #cabecera .col-sm-11{
        width: 85%;
        flex: 0 0 85%;
        max-width: 85%;
    }
    #cabecera .col-sm-1{
        width: 15%;
        flex: 0 0 15%;
        max-width: 15%;
        padding: 5px;
    }
    #espacio{
        text-align: center;
        padding: 0;
    }
    #horizontal{
        display: none;
    }
    #espacio img{
        height: 90px;
        text-align: center;
    }
    #pointer h3{
        color: white;
        font-size: 18px;
        text-align: center;
    }
    #pointer {
        height: 100px;
        position: relative;
        background: #19458D;
    }
    #pointer:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 50px solid white;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
    }
    #pointer:before {
        content: "";
        position: absolute;
        right: -50px;
        bottom: 0;
        width: 0;
        height: 0;
        border: none;
    }
    .search_input{
        background-color: white;
        border-radius: 5px;
        border: none;
        height: 25px;
        width: 70%;
        margin-top: 5px;
        padding: 0 10px;
    }
    .button-search{
        width: 35px;
        height: 35px;
        border: none;
        background-color: #8ba9b3;
        border-radius: 100%;
        position: absolute;
    }
    .button-search i{
        margin-top: 3px;
        margin-left: -3px;
        font-size: 28px;
    }
    /* TODO: fileusuario 768 - 1024 landscape*/
    #file_usuario{
        color: white;
        font-size: 15px;
        font-weight: 500;
        font-family: "Segoe UI",Arial;
    }
    #file_usuario tbody{
        width: 100%;
    }
    #file_usuario table{
        width: 100%;
    }
    #file_usuario td{
        padding: 5px 20px;
    }
    #file_usuario td button{
        border: none;
        background-color: white;
        color: black;
        font-size: 12px;
        font-weight: bold;
        border-radius: 5px;
        padding: 5px 20px;
    }
    .ocultar_usuario_sm{
        display: none;
    }
    /* TODO: submenu 768 - 1024 landscape*/

    nav button{
        border: none;
        text-align: center;
        margin-left: auto;
        cursor: pointer;
        margin-right: auto;
        padding: 0;
        width: 100%;
        padding-left: 8px;
    }
    nav h3{
        color: white;
        font-size: 10px;
        text-align: center;

    }
    nav img{
        height: 75px;
    }
    #mobile-menu{
        display: none;
    }
    #menu-switch{
        display: none;
    }

    .submenu_mayor{
        overflow-y:auto;
        height:100%;
    }
    /* width */
    .submenu_mayor::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    .submenu_mayor::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    .submenu_mayor::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    .submenu_mayor::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .submenu_menor{
        display:grid;
        height:100%;
    }
    nav{
        /* height: 817px; */
    }
    /* TODO: acoplar contenido y nav 768 - 1024 landscape*/
    #contenedor .col-md-2{
        padding: 0;
        flex: 0 0 15.666667%;
        max-width: 15.666667%;
    }
    #contenedor .col-md-10{
        flex: 0 0 84.333333%;
        max-width: 84.333333%;
    }
    .nav-link{
        padding: 0;
    }
    /* TODO: flexslider 768 - 1024 landscape*/
    .flexslider{
        margin-left: auto;
        margin-right: auto;
        height: 270px;
    }
    .slides{
        height: 270px;
    }
    .item{
        margin-top: 5px;
        width: 350px;
    }
    .contenedor_img{
        width: 350px;
        height: 260px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    /* TODO: comunicado 768 - 1024 landscape*/

    .color_texto_base{
        color: #19458D;
        font-family: "Segoe UI", Arial, sans-serif;
        font-weight: bold;
        font-size: 30px;
        padding: 15px 5px 0px 30px;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    /* TODO: cabecera 768 - 1024*/
    .center_vertical{
        position: relative;
        top: 40%;
    }
    #cabecera .col-sm-11{
        flex: 0 0 80%;
        max-width: 80%;
    }
    #cabecera .col-sm-1{
        flex: 0 0 20%;
        max-width: 20%;
        padding: 5px;
    }
    #espacio{
        text-align: center;
        padding: 0;
    }
    #espacio img{
        height: 90px;
        text-align: center;
    }
    #horizontal{
        display: none;
    }
    #pointer h3{
        color: white;
        font-size: 18px;
        text-align: center;
    }
    #pointer {
        height: 100px;
        position: relative;
        background: #19458D;
    }
    #pointer:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 50px solid white;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
    }
    #pointer:before {
        content: "";
        position: absolute;
        right: -50px;
        bottom: 0;
        width: 0;
        height: 0;
        border: none;
    }
    .search_input{
        background-color: white;
        border-radius: 5px;
        border: none;
        height: 25px;
        width: 70%;
        margin-top: 5px;
        padding: 0 10px;
    }
    .button-search{
        width: 35px;
        height: 35px;
        border: none;
        background-color: #8ba9b3;
        border-radius: 100%;
        position: absolute;
    }
    .button-search i{
        margin-top: 3px;
        margin-left: -3px;
        font-size: 28px;
    }
    /* TODO: fileusuario 768 - 1024*/
    #file_usuario{
        color: white;
        font-size: 15px;
        font-weight: 500;
        font-family: "Segoe UI",Arial;
    }
    #file_usuario tbody{
        width: 100%;
    }
    #file_usuario table{
        width: 100%;
    }
    #file_usuario td{
        padding: 5px 20px;
    }
    #file_usuario td button{
        border: none;
        background-color: white;
        color: black;
        font-size: 12px;
        font-weight: bold;
        border-radius: 5px;
        padding: 5px 20px;
    }
    .ocultar_usuario_sm{
        display: none;
    }
    /* TODO: submenu 768 - 1024*/

    nav button{
        border: none;
        text-align: center;
        margin-left: auto;
        cursor: pointer;
        margin-right: auto;
        padding: 0;
        padding-left: 8px;
        width: 100%;
    }
    nav h3{
        color: white;
        font-size: 10px;
        text-align: center;

    }
    nav img{
        height: 75px;
    }
    #mobile-menu{
        display: none;
    }
    #menu-switch{
        display: none;
    }
    .submenu_mayor{
        overflow-y:auto;
        height:100%;
    }
    /* width */
    .submenu_mayor::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    .submenu_mayor::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    .submenu_mayor::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    .submenu_mayor::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .submenu_menor{
        display:grid;
        height:100%;
    }
    nav{
        /* height: 817px; */
    }
    /* TODO: acoplar contenido y nav 768 - 1024*/
    #contenedor .col-md-2{
        padding: 0;
        flex: 0 0 15.666667%;
        max-width: 15.666667%;
    }
    #contenedor .col-md-10{
        flex: 0 0 84.333333%;
        max-width: 84.333333%;
    }
    .nav-link{
        padding: 0;
    }
    /* TODO: flexslider 768 - 1024*/
    .flexslider{
        margin-left: auto;
        margin-right: auto;
        height: 270px;
    }
    .slides{
        height: 270px;
    }
    .item{
        margin-top: 5px;
        max-width: 350px;
    }
    .contenedor_img{
        width: 350px;
        height: 260px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    /* TODO: comunicado 768 - 1024*/
    .color_texto_base{
        color: #19458D;
        font-family: "Segoe UI", Arial, sans-serif;
        font-weight: bold;
        font-size: 30px;
        padding: 15px 5px 0px 30px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    /* TODO: cabecera 1025 - 1280*/
    .center_vertical{
        position: relative;
        top: 40%;
    }
    #cabecera .col-sm-11{
        width: 90%;
        flex: 0 0 90%;
        max-width: 90%;
    }
    #cabecera .col-sm-1{
        width: 10%;
        flex: 0 0 10%;
        max-width: 10%;
        padding: 5px;
    }
    #espacio{
        text-align: center;
        padding: 0;
    }
    #espacio img{
        height: 90px;
        text-align: center;
    }
    #horizontal{
        display: none;
    }
    #pointer h3{
        color: white;
        font-size: 21px;
        text-align: center;
    }
    #pointer {
        height: 100px;
        position: relative;
        background: #19458D;
    }
    #pointer:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 50px solid white;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
    }
    #pointer:before {
        content: "";
        position: absolute;
        right: -50px;
        bottom: 0;
        width: 0;
        height: 0;
        border: none;
    }
    .search_input{
        background-color: white;
        border-radius: 5px;
        border: none;
        height: 25px;
        width: 70%;
        margin-top: 5px;
        padding: 0 10px;
    }
    .button-search{
        width: 35px;
        height: 35px;
        border: none;
        background-color: #8ba9b3;
        border-radius: 100%;
        position: absolute;
    }
    .button-search i{
        margin-top: 3px;
        margin-left: -3px;
        font-size: 28px;
    }
    /* TODO: fileusuario 1025 - 1280*/
    #file_usuario{
        color: white;
        font-size: 15px;
        font-weight: 500;
        font-family: "Segoe UI",Arial;
    }
    #file_usuario tbody{
        width: 100%;
    }
    #file_usuario table{
        width: 100%;
    }
    #file_usuario td{
        padding: 5px 20px;
    }
    #file_usuario td button{
        border: none;
        background-color: white;
        color: black;
        font-size: 12px;
        font-weight: bold;
        border-radius: 5px;
        padding: 5px 20px;
    }
    .ocultar_usuario_sm{
        display: none;
    }
    /* TODO: submenu 1025 - 1280*/

    nav button{
        border: none;
        text-align: center;
        margin-left: auto;
        cursor: pointer;
        margin-right: auto;
        padding: 0;
        padding-left: 8px;
        width: 100%;
    }
    nav h3{
        color: white;
        font-size: 14px;
        text-align: center;

    }
    nav img{
        height: 75px;
    }

    #mobile-menu{
        display: none;
    }
    #menu-switch{
        display: none;
    }
    .submenu_mayor{
        overflow-y:auto;
        height:100%;
    }
    /* width */
    .submenu_mayor::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    .submenu_mayor::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    .submenu_mayor::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    .submenu_mayor::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .submenu_menor{
        display:grid;
        height:100%;
    }
    nav{
        /* height: 817px; */
    }
    /* TODO: acoplar contenido y nav 1025 - 1280*/
    #contenedor .col-md-2{
        padding: 0;
        flex: 0 0 11.666667%;
        max-width: 11.666667%;
    }
    #contenedor .col-md-10{
        flex: 0 0 88.333333%;
        max-width: 88.333333%;
    }
    .nav-link{
        padding: 0;
    }
    /* TODO: flexslider 1025 - 1280*/
    .flexslider{
        margin-left: auto;
        margin-right: auto;
        height: 270px;
    }
    .slides{
        height: 270px;
    }
    .item{
        width: 350px;
    }
    .contenedor_img{
        width: 350px;
        height: 260px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    /* TODO:contenido 1025 - 1280 */
    .color_texto_base{
        color: #19458D;
        font-family: "Segoe UI", Arial, sans-serif;
        font-weight: bold;
        font-size: 30px;
        padding: 15px 5px 0px 30px;
    }
}

@media (min-width: 1281px) {
    /* TODO: cabecera 1281*/
    .center_vertical{
        position: relative;
        top: 40%;
    }
    #cabecera .col-sm-11{
        width: 90%;
        flex: 0 0 90%;
        max-width: 90%;
    }
    #cabecera .col-sm-1{
        width: 10%;
        flex: 0 0 10%;
        max-width: 10%;
        padding: 5px;
    }
    #espacio{
        text-align: center;
        padding: 0;
    }
    #espacio img{
        height: 90px;
        text-align: center;
    }
    #horizontal{
        display: none;
    }
    #pointer h3{
        color: white;
        font-size: 21px;
        text-align: center;
    }
    #pointer {
        height: 100px;
        position: relative;
        background: #19458D;
    }
    #pointer:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 55px solid white;
        border-top: 55px solid transparent;
        border-bottom: 55px solid transparent;
    }
    #pointer:before {
        content: "";
        position: absolute;
        right: -55px;
        bottom: 0;
        width: 0;
        height: 0;
        border: none;
    }
    .search_input{
        background-color: white;
        border-radius: 5px;
        border: none;
        height: 25px;
        width: 70%;
        margin-top: 5px;
        padding: 0 10px;
    }
    .button-search{
        width: 35px;
        height: 35px;
        border: none;
        background-color: #8ba9b3;
        border-radius: 100%;
        position: absolute;
    }
    .button-search i{
        margin-top: 3px;
        margin-left: -3px;
        font-size: 28px;
    }
    /* TODO: fileusuario 1281*/
    #file_usuario{
        color: white;
        font-size: 15px;
        font-weight: 500;
        font-family: "Segoe UI",Arial;
    }
    #file_usuario tbody{
        width: 100%;
    }
    #file_usuario table{
        width: 100%;
    }
    #file_usuario td{
        padding: 5px 20px;
    }
    /* #file_usuario td button{
        border: none;
        background-color: white;
        color: black;
        font-size: 12px;
        font-weight: bold;
        border-radius: 5px;
        padding: 5px 20px;
    } */
    .ocultar_usuario_sm{
        display: none;
    }
    /* TODO: submenu 1281*/

    nav button{
        border: none;
        text-align: center;
        margin-left: auto;
        cursor: pointer;
        margin-right: auto;
        padding: 0;
        padding-left: 8px;
        width: 100%;
    }
    nav h3{
        color: white;
        font-size: 14px;
        text-align: center;

    }
    nav img{
        height: 60px;
    }

    #mobile-menu{
        display: none;
    }
    #menu-switch{
        display: none;
    }

    .submenu_mayor{
        overflow-y:auto;
        height:100%;
    }
    /* width */
    .submenu_mayor::-webkit-scrollbar {
        width: 3px;
    }

    /* Track */
    .submenu_mayor::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    .submenu_mayor::-webkit-scrollbar-thumb {
        background: #a8a8a8;
        border-radius: 1px;
    }

    /* Handle on hover */
    .submenu_mayor::-webkit-scrollbar-thumb:hover {
        background: white;
        border-radius: 1px;
    }

    .submenu_menor{
        display:grid;
        height:100%;
    }
    nav{
        /* height: 817px; */
    }
    /* TODO: acoplar contenido y nav 1281*/
    #contenedor .col-md-2{
        padding: 0;
        flex: 0 0 11.666667%;
        max-width: 11.666667%;
    }
    #contenedor .col-md-10{
        flex: 0 0 88.333333%;
        max-width: 88.333333%;
    }
    .nav-link{
        padding: 0;
    }
    /* TODO: flexslider 1281*/
    .flexslider{
        margin-left: auto;
        margin-right: auto;
        height: 270px;
    }
    .slides{
        height: 270px;
    }
    .item{
        margin-top: 5px;
        width: 350px;
    }
    .contenedor_img{
        width: 350px;
        height: 260px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    /* TODO: comunicado 1025 - 1280*/

    /* TODO:contenido 1025 - 1280 */
    .color_texto_base{
        color: #19458D;
        font-family: "Segoe UI", Arial, sans-serif;
        font-weight: bold;
        font-size: 30px;
        padding: 15px 5px 0px 30px;
    }
}

/*!* TODO: complemento de estilo para pagina principal*!*/
.color_base{
    background-color: #19458D;
}
.color_base_boton_lateral{
    background-color: #19458D;
    
}
.color_base_boton_lateral:hover{
    background-color: #1565C0; /*#3180ff;*/

}

.color_base_boton_lateral .icono {
    transition: transform .8s  ease-in-out;
}
.color_base_boton_lateral:hover .icono {
    /* transform: rotate(200deg); */
}
/* .color_base_boton_lateral:hover .texto_color_base{
    color: #19458D
} */



.color_base2{
    background-color: #0085ba;
}
.gradient_gris{
    height: 70px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgba(226,226,226,1);
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(209,209,209,1) 0%, rgba(254,254,254,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(0%, rgba(219,219,219,1)), color-stop(0%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
    background: -webkit-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(209,209,209,1) 0%, rgba(254,254,254,1) 100%);
    background: -o-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(209,209,209,1) 0%, rgba(254,254,254,1) 100%);
    background: -ms-linear-gradient(left, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(209,209,209,1) 0%, rgba(254,254,254,1) 100%);
    background: linear-gradient(to right, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 0%, rgba(209,209,209,1) 0%, rgba(254,254,254,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
    -webkit-box-shadow: 10px 10px 26px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 26px -1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 26px -1px rgba(0,0,0,0.75);
    width: 70%;
}
button{
    outline:none;
}

#comunicados h3{
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 5px;
}
#comunicados h2{
    color: white;
    text-align: center;
    font-size: 17px;
    padding: 5px;
    padding: 5px;
}
#sugerencia a:hover{
    text-decoration: none;
}

#scroll_cumple {
    border: none;
    padding: 5px;
    font: 24px/36px sans-serif;
    width: 200px;
    height: auto;
    overflow: scroll;
}

/* Scrollbar styles */
#scroll_cumple {
    overflow:hidden;
    width: 100%;
    height: 80%;
}
#scroll_cumple:hover {
    overflow-y:scroll
}


#scroll_boletin {
    border: none;
    padding: 5px;
    font: 24px/36px sans-serif;
    width: 200px;
    height: auto;
    overflow: scroll;
}

/* Scrollbar styles */
#scroll_boletin {
    overflow:hidden;
    width: 100%;
    height: 100%;
}
#scroll_boletin:hover {
    overflow-y:scroll
}
.scroll_style::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scroll_style::-webkit-scrollbar-track {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0.4);
}

.scroll_style::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0.4);
}

.scroll_style::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0.4);
}

#accesos .col-sm-4{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#accesos .col-sm-4 button{
    width: 85px;
    height: 85px;
    padding: 15px 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
/* #accesos h6{
    color: white;
    text-align: center;
} */
.color_fondo{
    background: rgba(169,205,231,1);
    background: -moz-linear-gradient(top, rgba(169,205,231,1) 0%, rgba(100,119,139,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(169,205,231,1)), color-stop(100%, rgba(100,119,139,1)));
    background: -webkit-linear-gradient(top, rgba(169,205,231,1) 0%, rgba(100,119,139,1) 100%);
    background: -o-linear-gradient(top, rgba(169,205,231,1) 0%, rgba(100,119,139,1) 100%);
    background: -ms-linear-gradient(top, rgba(169,205,231,1) 0%, rgba(100,119,139,1) 100%);
    background: linear-gradient(to bottom, rgba(169,205,231,1) 0%, rgba(100,119,139,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9cde7', endColorstr='#64778b', GradientType=0 );
}

.categorias_noticia{
    display:inline-flex;
    vertical-align: middle;
    padding: 5px;
    background-color:#adadad;
    font-size:10px;
    margin: 0 3px;
    font-weight: bold;
}


.paddingZero{
    padding: 0;
}

.boton-superior{
    border: 0.5px solid transparent;
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 20px;
}
.boton-superior:hover{
    border: 0.5px solid whitesmoke;
    background-color: #135f37;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 20px;
}