extends ../layout
block style_propio
    link(rel='stylesheet', type='text/css', href='/css/extras/extra.css')
    style.
        @media (min-width: 768px){
            #contenido{
                max-height: 817px;
                overflow-y: auto;
            }
        }

block contenido
    h2.color_texto_base GALERÍA
    input#route(style="display:none", value=backend_route)
    .row
        .col-lg-1
        .col-md-12.col-lg-10
            if (galeria.length == 0 || galeria == null)
                h6 No se encuentra ningun archivo.
            else
                .row
                     each one in galeria
                        .col-md-6.col-lg-4
                            .card_galeria.card(style='background_color: #bfbfbfd9;')
                                .card_content_img(style="text-align: center; font-weight: bold;")
                                    span(style="display: inline-block;height: 100%; vertical-align: middle;")
                                    if (one.file_tipo + "" == 'imagen')
                                        img(style="height: 100%; width: auto;", class='ruta', src=backend_route + one.file_ruta + "" , alt=one.file_tipo + "")
                                    else if(one.file_tipo + "" == 'video')
                                        video(style="height: auto; width: 100%;vertical-align: middle;", class='ruta', src=backend_route + one.file_ruta + "", controls)
                                    else
                                        |SIN IMAGENES
                                if one.file_cantidad == 0
                                    .row.card-title(style='margin-bottom: 0;')
                                        h5(style='padding: 0 20px;').col-sm-9=one.galeria_nombre
                                        h6(style='padding: 0px 25px; text-align: right;vertical-align: middle;').col-sm-3=one.file_cantidad
                                else
                                    .row.card-title(style='margin-bottom: 0;',onclick="location.href = '/comunicacion/galeria/" + one.galeria_id + "'")
                                        h5(style='padding: 0 20px;').col-sm-9=one.galeria_nombre
                                        h6(style='padding: 0px 25px; text-align: right;vertical-align: middle;').col-sm-3=one.file_cantidad
block scripts
    script(type="text/javascript").
        /*function init(){
            var rutas = document.getElementsByClassName('ruta');
            for (let i = 0; i < rutas.length; i++) {
                var ruta = rutas[i];
                var src = ruta.getAttribute('src');
                var rutaCortada = src.split('public')
                var route = $('#route').val();
                console.log(route+rutaCortada[1])
                rutas[i].setAttribute('src', route+rutaCortada[1] + "");
            }
        }*/
        $(window).load(function () {
            $('#contenedor').slideDown('slow');
            var buttonNavigation = $('.nav-link');
            var anchowindow = (window.innerWidth);

            if (anchowindow >= 992) {
                $('nav').css('height', '817px')
                if (buttonNavigation.length > 7) {
                    $('#scroll').attr('class', 'submenu_mayor');
                } else {
                    $('#scroll').attr('class', 'submenu_menor');
                }
            } else if (anchowindow >= 767 && anchowindow <= 991) {
                // var contenido = $('#accesos').offset().top;
                var contenidoHeight = $('#contenido').height();
                // var total = contenido + contenidoHeight;
                var cabecera = $('#head').height();
                var total = contenidoHeight;
                $('nav').css('height', (total) + 'px')
                if (buttonNavigation.length > 13) {
                    $('#scroll').attr('class', 'submenu_mayor');
                } else {
                    $('#scroll').attr('class', 'submenu_menor');
                }
            }
        });

        $(window).on('resize', function () {
            var anchowindow = (window.innerWidth);
            var buttonNavigation = $('.nav-link');
            if (anchowindow >= 992) {
                $('nav').css('height', '817px')
                if (buttonNavigation.length > 7) {
                    $('#scroll').attr('class', 'submenu_mayor');
                } else {
                    $('#scroll').attr('class', 'submenu_menor');
                }
            } else if (anchowindow >= 767 && anchowindow <= 991) {
                // var contenido = $('#contenido';
                var contenidoHeight = $('#contenido').height();
                // var total = contenido + contenidoHeight;
                var cabecera = $('#head').height();
                var total = contenidoHeight;
                $('nav').css('height', (total) + 'px')
                if (buttonNavigation.length > 13) {
                    $('#scroll').attr('class', 'submenu_mayor');
                } else {
                    $('#scroll').attr('class', 'submenu_menor');
                }
            }
        })