extends ../layout
block style_propio
    link(rel='stylesheet', type='text/css', href='/css/extras/extra.css')
    style.
        @media (min-width: 768px){
            #contenido{
                max-height: 817px;
                overflow-y: auto;
            }
        }

block contenido
    .contenedor.container-fluid(style="background-color: white;padding:10px;")
        each categoria in noticia[1]
            p(style="background-color: #d8eaf9;font-size: 12px; font-weight: bold;display:inline-flex;padding:10px;margin:5px;")=categoria.nombre_categoria
        h1=noticia[0].titulo_noticia
        h3
            i(style="font-weight: normal")=noticia[0].subtitulo_noticia
        #contenido_noticia
            =noticia[0].contenido_noticia



block scripts
    script.
        
            var letter = ['Æ', 'Ç', 'È', 'É', 'Ê', 'Ë', 'Ì', 'Í', 'Î', 'Ï', 'Ð', 'Ñ', 'Ò', 'Ó', 'Ô', 'Õ', 'Ö', '×', 'Ø',
                'Ù', 'Ú', 'Û', 'Ü', 'Ý', 'Þ', 'ß', 'à', 'á', 'â', 'ã', 'ä', 'å', 'æ', 'ç', 'è', 'é', 'ê', 'ë',
                'ì', 'í', 'î', 'ï', 'ð', 'ñ', 'ò', 'ó', 'ô', 'õ', 'ö', '÷', 'ø', 'ù', 'ú', 'û', 'ü', 'ý', 'þ',
                'ÿ', '\'', '¡', '¢', '£', '¤', '¥', '¦', '§', '¨', '©', 'ª', '«', '¬', '\'', '®', '¯', '°', '±',
                '²', '³', '´', 'µ', '¶', '·', '¸', '¹', 'º', '»', '¼', '½', '¾', '¿', '€', '‚', 'ƒ', '„', '…',
                '†', '‡', 'ˆ', '‰', 'Š', '‹', 'Œ', 'Ž', '‘', '’', '“', '”', '•', '–', '—', '˜', '™', 'š', '›',
                'œ', 'ž', 'Ÿ', '"', '&', '<', '>']
            var codes = [
                /&AElig;/g, /&Ccedil;/g, /&Egrave;/g, /&Eacute;/g, /&Ecirc;/g, /&Euml;/g, /&Igrave;/g, /&Iacute;/g, /&Icirc;/g, /&Iuml;/g, /&ETH;/g, /&Ntilde;/g, /&Ograve;/g, /&Oacute;/g, /&Ocirc;/g, /&Otilde;/g, /&Ouml;/g, /&times;/g, /&Oslash;/g, /&Ugrave;/g, /&Uacute;/g, /&Ucirc;/g, /&Uuml;/g, /&Yacute;/g, /&THORN;/g, /&szlig;/g, /&agrave;/g, /&aacute;/g, /&acirc;/g, /&atilde;/g, /&auml;/g, /&aring;/g, /&aelig;/g, /&ccedil;/g, /&egrave;/g, /&eacute;/g, /&ecirc;/g, /&euml;/g, /&igrave;/g, /&iacute;/g, /&icirc;/g, /&iuml;/g, /&eth;/g, /&ntilde;/g, /&ograve;/g, /&oacute;/g, /&ocirc;/g, /&otilde;/g, /&ouml;/g, /&divide;/g, /&oslash;/g, /&ugrave;/g, /&uacute;/g, /&ucirc;/g, /&uuml;/g, /&yacute;/g, /&thorn;/g, /&yuml;/g, /&nbsp;/g, /&iexcl;/g, /&cent;/g, /&pound;/g, /&curren;/g, /&yen;/g, /&brvbar;/g, /&sect;/g, /&uml;/g, /&copy;/g, /&ordf;/g, /&laquo;/g, /&not;/g, /&shy;/g, /&reg;/g, /&macr;/g, /&deg;/g, /&plusmn;/g, /&sup2;/g, /&sup3;/g, /&acute;/g, /&micro;/g, /&para;/g, /&middot;/g, /&cedil;/g, /&sup1;/g, /&ordm;/g, /&raquo;/g, /&frac14;/g, /&frac12;/g, /&frac34;/g, /&iquest;/g, /&euro;/g, /&sbquo;/g, /&fnof;/g, /&bdquo;/g, /&hellip;/g, /&dagger;/g, /&Dagger;/g, /&circ;/g, /&permil;/g, /&Scaron;/g, /&lsaquo;/g, /&OElig;/g, /&Zcaron;/g, /&lsquo;/g, /&rsquo;/g, /&ldquo;/g, /&rdquo;/g, /&bull;/g, /&ndash;/g, /&mdash;/g, /&tilde;/g, /&trade;/g, /&scaron;/g, /&rsaquo;/g, /&oelig;/g, /&zcaron;/g, /&Yuml;/g, /&quot;/g, /&amp;/g, /&lt;/g, /&gt;/g,
            ]
            var content = document.getElementById("contenido_noticia");
            //console.log(content.length);

                var contenido = content.innerHTML;
                var replace;
                for (var j = 0; j < codes.length; j++) {
                    replace = contenido.replace(codes[j], letter[j]);
                    contenido = replace;
                }
                content.innerHTML = replace;
        